@import "src/styles/colors";

:host{
  padding: 20px;
}
.field {
  width: 400px;
}

.actions {
  text-align: end;
}
.response {
  margin-top: 10px;
  text-align:  center;
  color: $success;
}

.error {
  margin-top: 10px;
  text-align:  center;
  color: $error-color;
}
