<h2 class="title">{{'productModal.title'| translate}}</h2>
<div [formGroup]="productForm" class="container">
  <mat-form-field appearance="outline" class="field">
    <mat-label>{{'product.name'| translate}}</mat-label>
    <input matInput formControlName="name">

  </mat-form-field>
  <mat-form-field appearance="outline" class="field">
    <mat-label>{{'product.price'| translate}}</mat-label>
    <input  type="number" matInput formControlName="price">

  </mat-form-field>
  <mat-form-field appearance="outline" class="field">
    <mat-label>{{'product.count'| translate}}</mat-label>
    <input  type="number" matInput formControlName="count">

  </mat-form-field>

  <p class="response" *ngIf="showSuccessText">
    {{succsessText}}
  </p>
  <p class="response" *ngIf="showErrorText">
    {{errorText}}
  </p>
  <div class="actions">
    <button mat-raised-button color="primary" (click)="onSave()" >
      {{'productModal.save'| translate}}
    </button>
  </div>
</div>
