.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
.filter__form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.filter__form .form-group{
  margin: 0 10px;
}
.table-header {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}
