
<div class="container" >
  <div class="table-header" >
      <mat-form-field appearance="outline"  [floatLabel]="'always'" >
        <mat-label>{{'filter'| translate}}</mat-label>
        <input matInput
               (keyup)="applyFilter($event)"
               placeholder="{{'product.filter'| translate}}" #input>
      </mat-form-field>
    <div>
      <button mat-raised-button color="primary"
              (click)="addData()" >
        <mat-icon>add</mat-icon>
        {{'productModal.title'| translate}}
      </button>
    </div>
  </div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'product.name'| translate}} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}}% </mat-cell>
    </ng-container>


    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> {{'product.price'| translate}} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.price}} </mat-cell>
    </ng-container>

    <!-- Count Column -->
    <ng-container matColumnDef="count">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> {{'product.name'| translate}} </mat-header-cell>
      <mat-cell  *matCellDef="let row"> {{row.count}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <mat-header-cell  *matHeaderCellDef aria-label="row actions">&nbsp;</mat-header-cell>
      <mat-cell  *matCellDef="let product">
        <button mat-icon-button
                class="edit-button"
                color="primary"
                matTooltip="{{'product.edit' | translate}}"
                matTooltipPosition ="above"
                (click)="openDialog(product)">
          <mat-icon class="action-icons">edit</mat-icon>
        </button>
        <button mat-icon-button
                class="edit-button"
                color="accent"
                matTooltip="{{'product.delete' | translate}}"
                matTooltipPosition ="above"
                (click)="deleteProduct(product)">
          <mat-icon class="action-icons">delete</mat-icon>
        </button>
        <button mat-icon-button
                class="edit-button"
                color="warn"
                matTooltip="{{'product.sell' | translate}}"
                matTooltipPosition ="above"
                (click)="saleProduct(product)">
          <mat-icon class="action-icons">attach_money</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

       <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell-no-data" colspan="4">{{'noData'|translate}} "{{input.value}}"</td>
    </tr>
  </table>
    <mat-paginator pageSize="[5, 10, 25, 100]" aria-label="Select page of products"></mat-paginator>
</div>
</div>
