<h2 class="title">{{'managerModal.title'| translate}}</h2>

<div [formGroup]="productForm" class="container">
  <mat-form-field appearance="outline" class="field">
    <mat-label>{{'manager.name'| translate}}</mat-label>
    <input matInput formControlName="userName">

  </mat-form-field>
  <mat-form-field appearance="outline" class="field">
    <mat-label>{{'manager.fName'| translate}}</mat-label>
    <input  matInput formControlName="firstName">

  </mat-form-field>
  <mat-form-field appearance="outline" class="field">
    <mat-label>{{'manager.lName'| translate}}</mat-label>
    <input  matInput formControlName="lastName">

  </mat-form-field>

  <mat-form-field appearance="outline" class="field">
    <mat-label>{{'manager.password'| translate}}</mat-label>
    <input type="password"  matInput formControlName="password">

  </mat-form-field>

  <mat-form-field appearance="outline" class="field">
    <mat-label>{{'manager.repPassword'| translate}}</mat-label>
    <input type="password"  matInput formControlName="passwordRep">

  </mat-form-field>

  <p class="response" *ngIf="showSuccessText">
    {{succsessText}}
  </p>
  <p class="response" *ngIf="showErrorText">
    {{errorText}}
  </p>
  <div class="actions">
    <button mat-raised-button color="primary" (click)="onSave()" >
      {{'managerModal.save'| translate}}
    </button>
  </div>
</div>
