/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import 'styles/colors';
html, body { height: 100%; }
body { margin: 0;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      min-height: 100vh;
      width: 100%;
     }

.container {
  padding: 20px 30px;
}

.flex-between {
  justify-content: space-between;
}
a {
  color: #3f51b5;
  text-decoration: none;
}


